/vendor/
/.env.testing
/.phpunit.cache/
/.phpunit.result.cache
phpunit.xml
composer.lock
/tests/codecept/_data/*
/tests/codecept/_support/*
/tests/codecept/_output/*
!tests/codecept/_data/.gitkeep
!tests/codecept/_support/.gitkeep
!tests/codecept/_output/.gitkeep